<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!--/*@thymesVar id="personForm" type="com.example.validation.PersonForm"*/-->
<form action="#" th:action="@{/}" th:object="${personForm}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{age}" /></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
        </tr>
        <tr>
            <td>Color:</td>
            <td><input type="text" th:field="*{color}" /></td>
            <td th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Color Error</td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td><input type="text" th:field="*{phoneNumber}" /></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Number Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>